<div id="team" class="page">
  <div class="divided title">
    Team
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui error message" ng-show="error">
        {{ error }}
      </div>

      <div class="ui segment">
        <div ng-show="!user.teamCode && !regIsOpen">
          <p>
            {{ TEAM.NO_TEAM_REG_CLOSED }}
          </p>
        </div>
        <div class="ui form " ng-show="!user.teamCode && regIsOpen">
          <div class="title">
            Enter a team name and save then share it with friends to come join
            you
            <div class="ui divider"></div>

            <div
              style="font-weight:700;font-size:15pt"
              ng-class="user.status.name center"
            >
              <a
                class="ui blue button "
                href="https://twitter.com/naijahacks/status/1189915525972926466?s=20"
                target="_blank"
                rel="noopener noreferrer"
                >Find team members</a
              >
              <br />
            </div>

            <div class="ui divider"></div>
          </div>

          <div class="field">
            <input
              class="ui input"
              type="text"
              placeholder="Enter your team name..."
              ng-model="code"
            />
          </div>

          <div class="field">
            <button class="ui fluid pink button" ng-click="joinTeam()">
              Join or Create Team
            </button>
          </div>
        </div>

        <div ng-show="user.teamCode">
          <div class="form">
            <div class="title">
              Your Team Name (Share this with Friends):
            </div>
          </div>
          <br />
          <div class="subheader">
            {{ user.teamCode }}
          </div>

          <br />

          <div class="ui divider"></div>

          <div class="form">
            <div class="title">
              Your Team:
            </div>
          </div>

          <p ng-repeat="user in teammates" class="item">
            {{ user.profile.name || "Somebody (has not filled out their
            profile!)" }}: {{ user.email }}
            <span
              style="color: red;font-weight: bolder;"
              ng-hide="user.status.confirmed === true"
            >
              incomplete</span
            >
          </p>

          <div ng-show="regIsOpen">
            <div class="ui divider"></div>

            <button class="ui fluid red button" ng-click="leaveTeam()">
              Leave Team
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
